@use "portfolio_mixin";

body {
    margin: 0;
    background-color: #f9d080;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 240px;
    color: #000000;
}
h3 {
    font-size: 50px;
    color: #000000;
}

.black_{
    background-color: #000000;
    height: 8vh;
    border-radius: 40px;

}

.ABOUT{
    background-color: #000000;
    height: 50vh;
    border-radius: 50%;
}

p {
    font-size: 45px;
    color: #FFFCDE;
    animation: linear;
    animation-duration: 2s;
}
nav li:hover {
    background-color: #ffffff;
    transition: .5s;

}

p:last-child {
    animation: left 1s;
}

@keyframes left {

    0% {
        translate: -800px;
    }

    100% {
        transform: 0px;
    }
    
}


footer{
    font-size: 0.5em;
    @include portfolio_mixin.footer;

}
img{
    height: 8vh;
    width: 8vw;
}
.ikon{
    height: 20vh;
    width: 20vw;
    font-size: 10em;
}

.navbar {
    @include portfolio_mixin.navbar;
}

